
img {
    height: 270px !important;
    max-height: 270px !important;
    min-height: 270px !important;
}

.card {
    overflow: hidden;
}

h5 {
    font-size: 18px !important;
    line-height: 125% !important;
    margin: 1px 0 .656rem 0 !important;
}